
@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import "tailwindcss";

@theme{
    /* font */
    --font-header: "Copse", serif;
    --font-text : "Playfair Display", serif;
    --font-nova : "Nova Round", system-ui;

    /* color */
      --color-navy:#000057;
      --color-org:#EF2917;
      --color-dorg:#B51102;
      --color-lightperi :#C6C6E4;
      --color-indigo :#4800AE;
      --color-indigodark: #280160;
      --color-lobster:#E44F5E;
}



.c_in{
    @apply p-5 border-2 border-blue-600 rounded-2xl w-60 h-10 hover:border-red-800;
}

.c_btn{
    @apply border rounded-2xl font-text font-bold p-2 bg-blue-400 hover:bg-blue-700 ml-15 w-30
}

.c_label{
    @apply font-bold
}

.c_dropdown{
    @apply border-2 rounded-2xl w-35 pl-3 border-blue-900 hover:border-red-700 mt-1
}

.nav-title{
    @apply font-nova mt-5 p-2 border hover:border-l-3 hover:border-amber-600 
}

.dash-card{
    @apply w-100 h-60 border-2 rounded-3xl md:w-80 shadow-2xl hover:shadow-zinc-700
}

.card-header{
    @apply border-b-4 border-double pl-3 font-bold text-2xl font-header rounded-3xl 
}

.card-content{
    @apply pl-2 pt-4
}

.sec2-card{
    @apply border-2 w-70 rounded-2xl p-3 font-text  hover:shadow-2xl hover:shadow-zinc-500  
}
.page{
    @apply hidden
}
.active{
    @apply block
}

.active_side{
    @apply border-3 border-b-dorg 
}